{% extends 'base.html' %}

{% block page_title %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Help Page</h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card text-center mt-2">
            <h4 class="card-header">Vitalik Buterin</h4>
            <div class="card-body">
                <h5 class="card-title">The creator of Ethereum</h5>
                <p class="card-text">A short video of Vitalik explaining what Ethereum is.</p>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/TDGq4aeevgY">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block help_dash %}
<div class="row justify-content-center mt-2">
    <div class="col-12 col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-5">
                            <div class="card text-center mt-2">
                                <h4 class="card-header">Ethereum.org</h4>
                                <div class="card-body">
                                    <h5 class="card-title">What is Ethereum?</h5>
                                    <p class="card-text">Ethereum is open access to digital money and data-friendly
                                        services for everyone – no matter your background or location. It's a
                                        community-built technology behind the cryptocurrency ether (ETH) and thousands
                                        of applications you can use today.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://ethereum.org/en/what-is-ethereum/" target="_blank">Visit
                                        Ethereum.org - Funded in
                                        part by The Ethereum Foundation</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="card text-center mt-2">
                                <h4 class="card-header">Etherscan.io</h4>
                                <div class="card-body">
                                    <h5 class="card-title">What is a block explorer?</h5>
                                    <p class="card-text">A block explorer is a search engine that allows users to easily
                                        look up, confirm, and validate transactions that have taken place on the
                                        Ethereum Blockchain. Etherscan is the leading block explorer for the Ethereum
                                        Blockchain.</p>
                                    <p class="card-text">The Ethereum Blockchain has a public ledger (like a
                                        decentralized database) which Etherscan.io indexes and then makes available this
                                        information through our site. Our mission is to facilitate Blockchain
                                        transparency by indexing and making searchable all transactions on the Ethereum
                                        Blockchain in the most transparent and accessible way possible.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://info.etherscan.com/" target="_blank">Visit the Etherscan
                                        Information Center</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="card text-center mt-2">
                                <h4 class="card-header">Help using M.E.B.E.</h4>
                                <div class="card-body">
                                    <h5 class="card-title">Wallet Addresses</h5>
                                    <p class="card-text">
                                    <p>0x222b17dE9d7D549f6212E674964e7Df37fEF25D5</p>
                                    <p>0xa7FBCa21C325c67A12f485F4FCCd4AeC191C6794</p>
                                    <p>0x2247F9C09616ae31AB0D06a324d6a49C38b78A36</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="card text-center mt-2">
                                <h4 class="card-header">Help using M.E.B.E.</h4>
                                <div class="card-body">
                                    <h5 class="card-title">Block Numbers</h5>
                                    <p class="card-text">
                                    <p>15009043</p>
                                    <p>132847</p>
                                    <p>1836</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="card text-center mt-2">
                                <h4 class="card-header">Help using M.E.B.E.</h4>
                                <div class="card-body">
                                    <h5 class="card-title">Tx Hashes</h5>
                                    <p class="card-text">
                                    <p>0x31005bc5ad7df8d7cb3a42cb65c010c12c726b2d944edd6412a9fec56a322a0e</p>
                                    <p>0xcbcf3a353baa2c743435997b81fd8e2cc5ecae8348492fe10a455d0c03251b57</p>
                                    <p>0x87e26000e72508a9cc08f2dd2170f5b2e20ae5786e2cbd1e7ee47d2fbca1df59</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}