{% extends 'base.html' %}

{% block page_title %}
<div class="row justify-content-center">
    {% for msg in get_flashed_messages() %}
    <div class="col-12 col-md-10 col-lg-8">
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    </div>
    {% endfor %}
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card">
            <div class="card-body">
                <h2 id="page_title" class="text-center">Minimalistic Ethereum Block Explorer
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block eth_stats_dashboard %}
<div class="row justify-content-center mt-2">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-title text-center">Total ETH Supply</h5>
            <p class="text-center" id="total_supply">***</p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-title text-center">Total ETH2 Supply</h5>
            <p class="text-center" id="total_supply_eth2">***</p>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-title text-center">Last Price ($USD)</h5>
            <p class="text-center" id="last_price">***</p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-title text-center">Base Fee (Gwei)</h5>
            <p class="text-center" id="base_fee">***</p>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-4 col-lg-2">
        <div class="card">
            <h5 class="card-title text-center">Safe Gas</h5>
            <p class="text-center" id="sg_gwei">***</p>
            <p class="text-center" id="sg_conf">***</p>
        </div>
    </div>
    <div class="col-4 col-md-4 col-lg-3">
        <div class="card">
            <h5 class="card-title text-center">Proposed Gas</h5>
            <p class="text-center" id="pg_gwei">***</p>
            <p class="text-center" id="pg_conf">***</p>
        </div>
    </div>
    <div class="col-4 col-lg-2">
        <div class="card">
            <h5 class="card-title text-center">Fast Gas</h5>
            <p class="text-center" id="fg_gwei">***</p>
            <p class="text-center" id="fg_conf">***</p>
        </div>
    </div>
</div>

{% endblock %}

{% block searchbar %}
<div class="row justify-content-center mt-2">
    <div class="col-12 col-md-10 col-lg-8">
        <form id="searchForm">
            <div class="card mx-3">
                <div class="input-group">
                    <input type="search" class="form-control" id="searchbar"
                        placeholder="Search for Block# / Transaction Hash / Wallet Address"
                        aria-describedby="searchBtn">
                    <button class="btn btn-outline-secondary" type="submit" id="searchBtn">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/eth_stats.js"></script>
<script src="/static/search.js"></script>
{% endblock %}